fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.8.2
psycopg2-binary==2.9.9
python-jose[cryptography]==3.3.0
requests==2.32.3
boto3==1.35.0
fpdf2==2.7.9
twilio==9.3.7
opentelemetry-api==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-instrumentation-fastapi==0.46b0
opentelemetry-instrumentation-logging==0.46b0
prometheus-fastapi-instrumentator==7.0.0
